:root {
    --background: hsl(235, 21%, 11%);
    --to-do-text-finished: hsl(233, 14%, 35%);
    --to-do-background: hsl(235, 24%, 19%);
    --todo-text: hsl(234, 39%, 85%);
    --btn-hover: hsl(236, 33%, 92%);
    --actions-text: hsl(233, 14%, 35%);
    --check-background: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
    --accent-text-color: hsl(220, 98%, 61%);
}

body {
    margin: 0;
    padding: 0;
    background: var(--background);
    font-family: 'Josefin Sans', sans-serif;
    letter-spacing: 1px;

    /* font-size: 18px; */

}

*,
*::before,
*::after {
    font-family: inherit;
    box-sizing: border-box;
}

.background-desktop {
    display: none;
}

h1,
p {
    margin: 0;
}

main {
    max-width: 375px;
    margin: 0 auto;
}

.header {
    margin-bottom: 1.5em;
}

.flex-space-between {
    width: 100%;
    display: flex;
    justify-content: space-between;
    display: flex;
    align-content: center;
}

.container-todo {
    width: 90%;
    max-width: 340px;
    position: absolute;
    top: 10%;
    margin: 0 auto;
    left: 0;
    right: 0;
}

.title {
    color: hsl(236, 33%, 92%);
    text-transform: uppercase;
    letter-spacing: 10px;
}

.theme-btn {
    background: none; 
    border: none;
    padding-left: 1em;
}

/* =======================*/
/* TODO ==================*/
/* =======================*/

.task {
    width: 100%;
    display: block;
    font-size: inherit;
    text-transform: capitalize;
    color: var(--todo-text);
    background: var(--to-do-background);
    padding: 1em 0 1em 3.5em;
    border: none;
    border-radius: 5px;
    outline: none;

}



/* =======================*/
/* TASKS =================*/
/* =======================*/

.tasks-container {
    display: none;
    margin-top: 1em;
    border: solid .5px var(--to-do-background);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.task-container{
    display: flex;
    justify-content: space-between;
    border-bottom: solid var(--actions-text) 1px;
    border-radius: 0;
}

.dragging {
    border: solid 1px var(--accent-text-color);
    border-radius: 5px;;
}

/* =======================*/
/* CHECKBOXES ============*/
/* =======================*/

/* Hide browsers default checkbox */
[type="checkbox"] {
    position:absolute;
    opacity: 0;
    z-index: -9999;
}

[type="checkbox"] + label {
    position: relative;

}

[type="checkbox"] + .checkbox-label .indicator{
    position: absolute;
    left: 15px;
    top: 15px;
    /* transform: translateY(-50%); */
    display: block;
    width: 20px;
    height: 20px;
    background: var(--to-do-background);
    border-radius: 50%;
    border: 2px solid var(--to-do-text-finished);
    cursor: pointer;
}

/* Change top position for firefox not sure why but the positon isnt the same as chrome */
@-moz-document url-prefix() {
    [type="checkbox"] + .checkbox-label .indicator {
        top: 25px;
    }
}

.checkbox:checked + label .indicator{
    background-image: var(--check-background);
}


.checkbox:checked + .checkbox-label .indicator::after{
    content: "";
    position: absolute;
    width: 5px;
    height: 8px;
    border: 2px solid #fff;
    border-left: none;
    border-top: none;
    transform: rotate(45deg);
    left: 6px;
    top: 4px;
}

.checked {
    text-decoration: line-through;
    color: var(--to-do-text-finished);
}

/* =======================*/
/* MOBILE-ACTIONS ========*/
/* =======================*/

.actions {
    text-transform: capitalize;
    color: var(--actions-text);
    display: none;
}

.btn {
    font-size: inherit;
    font-family: inherit;
    color: inherit;
    letter-spacing: inherit;
    border: none;
    outline: none;
    background: var(--to-do-background);
    text-transform: capitalize;
}

.clear-task {
    padding-right: 1em;
}

.btn:hover {
    color: var(--btn-hover);
    cursor: pointer;
}

.btn:focus {
    color: var(--accent-text-color);
}

.btn-active {
    color: var(--accent-text-color);
}

.btn-clear {
    font-size: inherit;
    font-family: inherit;
    color: inherit;
    letter-spacing: inherit;
    border: none;
    outline: none;
    background: var(--to-do-background);
    text-transform: capitalize;
}

.btn-clear:hover {
    color: var(--btn-hover);
}

.actions-col-1 {
    background: var(--to-do-background);
    padding: 1em;
    display: flex;
    justify-content: space-between;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.actions-col-2-mobile {
    background: var(--to-do-background);
    padding: 1em;
    margin-top: 1em;
    display: flex;
    justify-content: center;
    border-radius: 5px;
}

.actions-col-2-desktop {
    display: none;
}

.center-action {
    padding: 0 1em;
}

.footer {
    font-size: 1rem;
    text-align: center;
    color: var(--actions-text);
    padding: 3em 0;
}


@media (min-width:1440px) {

    .background-mobile {
        display: none;
    }

    .background-desktop {
        display: block;
    }

    .actions-col-2-mobile {
        display: none;
    }

    .actions-col-2-desktop {
        display: block;
    }

    .background-img {
        width: 100%;
        height: 250px;
        object-fit:fill;
    }
    

    main {
        max-width: 700px;
    }

    .container-todo {
        max-width: 700px;
    }

    .clear-task {
        opacity: 0;
    }

    .task-container:hover  .clear-task {
        opacity: 1;
    }

  
    /* Hover element positioned in center of span 
    to block out most of backgorund color on hover 
    giving the appearance of a graident border*/

    .checkbox + .checkbox-label .indicator:hover,
    .checkbox + .checkbox-label .indicator:focus {
        background: var(--check-background);
    }

    .checkbox:checked + .checkbox-label .indicator:hover .hover-element, 
    .checkbox:checked + .checkbox-label .indicator:focus .hover-element {
        display: none;
    }

    .checkbox + .checkbox-label .indicator:hover .hover-element {
        position: absolute;
        left: 2px;
        top: 50%;
        transform: translateY(-50%);
        display: block;
        width: 12px;
        height: 12px;
        background: var(--to-do-background);
        border-radius: 50%;
        /* border: px solid var(--to-do-text-finished); */
        cursor: pointer;
    }
}



